<h1>Sign In</h1>
<form role="form" method="post" action="{{ base_url }}/profile">
    <table>
        <tr>
            <td>
                <label for="f_username">Username</label>
                <input type="email" id="f_username" name="f_username" placeholder="Enter a valid email address" required />
            </td>
        </tr>
        <tr>
            <td>
                <label for="f_password">Password</label>
                <input type="password" id="f_password" name="f_password" required />
            </td>
        </tr>
        <tr>
            <td>
                <button type="submit">Sign-in</button>
            </td>
        </tr>
    </table>
</form>
